@inherits LayoutComponentBase

<div class="page">
    <NavMenu />
    <main class="container">
        <article role="main" class="pb-3">
            @Body
        </article>
    </main>
    <Footer />
</div>
